.masonry-item{width:calc(33% - 10px);min-height:250px;margin-bottom:10px}.masonry-item.color-1{background-color:#A0BF38}.masonry-item.color-2{background-color:#6B7F25}.masonry-item.color-3{background-color:#D5FF4B}.masonry-item.color-4{background-color:#354013}.masonry-item.color-5{background-color:#C0E543}.masonry-item--width2{width:calc(66% - 10px)}.grid-sizer{width:calc(33% - 10px)}.stamp{position:absolute;top:0;width:50px;height:0}.stamp.stamp1{left:500px;height:100px}
/*# sourceMappingURL=masonry.css.map */
