.sponsors{
  margin: 20px auto;

  .sponsor{
    width: 19.6%;
    height: 120px;
    position: relative;
    cursor: pointer;
    display: inline-block;

    .sponsorFlip{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border: 1px solid #ddd;
      background: #f9f9f9;
      padding: 20px;

      .img{
        position: relative;
        display: block;
        height: 100%;
        width: 100%;
      }

      .sponsorDescription{
        font-size: 14px;
        font-style: italic;
      }

      .sponsorURL{
        position: absolute;
        bottom: 20px;
        right: 20px;
        font-size: 12px;
        font-weight: bold;
      }
    }

    .sponsorData{
      display: none;

    }
  }
}