.article .header .title h2 {
  padding: 0 10px;
  border-left: 1px solid #000; }
.article .header .title:first-child h2 {
  padding-left: 0;
  border-left: none; }
.article .list {
  min-height: 200px;
  border-right: 1px solid #000; }
  .article .list:last-child {
    border-right: none; }

/*# sourceMappingURL=article.css.map */
