.article {
  .header {
    //background: red;

    .title {
      h2 {
        padding: 0 10px;
        border-left: 1px solid #000;
      }

      &:first-child {
        h2 {
          padding-left: 0;
          border-left: none;
        }
      }
    }
  }

  .list {
    min-height: 200px;
    border-right: 1px solid #000;

    &:last-child {
      border-right: none;
    }
  }
}