footer{background:#E4E7EF;height:200px}footer .menu ul{list-style:none;display:table;padding-left:0;padding-top:20px;width:100%}footer .menu ul>li{font-size:16px;font-weight:700;width:20%;display:table-cell;text-align:center}footer .menu ul>li.page_item_has_children ul{padding-top:15px}footer .menu ul.children{display:block;padding-top:0}footer .menu ul.children li{font-size:14px;font-weight:500;display:block;width:100%}footer .menu ul.children li.page_item_has_children ul{padding-top:0}
/*# sourceMappingURL=footer.css.map */
