footer {
  background: #E4E7EF;
  height: 200px;

  .menu {

    ul{
      list-style: none;
      display: table;
      padding-left: 0;
      padding-top: 20px;
      width: 100%;

      & > li{
        font-size: 16px;
        font-weight: 700;
        width: 20%;
        display: table-cell;
        text-align: center;

        &.page_item_has_children{

          ul{
            padding-top: 15px;
          }
        }
      }

      &.children{
        display: block;
        padding-top: 0;

        li{
          font-size: 14px;
          font-weight: 500;
          display: block;
          width: 100%;

          &.page_item_has_children{

            ul{
              padding-top: 0;
            }
          }
        }
      }
    }
  }
}