$color-green-dark: #144D35;
$color-green-light: #1E8363;
$color-yellow-light: #EDFF46;
$color-header-menu-font: #fff;

header {
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.55);
  z-index: 999;
  position: fixed;
  width: 100%;
  background-color: rgb(255, 255, 255);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  height: 160px;

  .logo{
    background: url('./../img/logo.png');
    height: 90px;
    background-size: cover;
  }

  .main-navigation {
    //padding-top: 40px;
    width: auto;
    clear: both;

    ul#menu-header{
      list-style: none;
      float: right;
      font-size: 15px;
      text-transform: uppercase;
      width: 100%;
      background: $color-green-dark;
      margin-bottom: 0;
      height: 50px;
      padding-left: 0;

      li {
        display: block;
        float: left;
        border-left: 1px solid black;
        background-color: $color-green-dark;
        padding: 14px 10px;

        &:hover{
          background-color: $color-green-light;
        }

        &:first-child {
          border-left: 0;
        }

        a {
          color: $color-header-menu-font;
          padding: 15px 10px;

          &:hover {
            text-decoration: none;
          }
        }

        &.current-menu-item {
          background: #fff;

          a {
            color: $color-green-dark;
          }
        }
      }
    }
  }

  &.smaller {
    height: 50px;
    padding-top: 0;
    padding-bottom: 0;

    .logo {
      width: 30px;
      height: 45px;
      margin-top: 5px;
      margin-left: 10px;
    }

    .main-navigation {
      margin-left: 45px;
      clear: none;

      ul#menu-header{

        li {
          padding: 14.5px 10px;
        }
      }
    }
  }
}

.slider {
  padding-top: 160px;

  .slick-dots{
    background-color: $color-green-dark;
    padding-top: 5px;

    li button:before {
      font-size: 35px;
      color: $color-green-light;
    }
  }

  .slide {
    background: url('./../img/zielone-zboze.jpg');
    min-height: 300px;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;

    .transparency {
      background: -moz-linear-gradient(left, rgba(254,217,114,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgba(254,217,114,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgba(254,217,114,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fed972', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
      height: 100%;
      min-height: 300px;

      h1 {
        font-size: 48px;
        color: #fff;
      }

    }
  }
}
