h1, h2, h3, h4, h5 {
  float: left;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {

}

h5 {

}

p {

}

span {

}

strong {

}


.content{
  padding-top: 200px;

  .breadcrumbs {
    border-bottom: 2px solid #144d35;
    padding-bottom: 10px;
  }

  .content-container {
    margin: 30px 0 40px 0;

    .sidebar-content{
      .links{
        list-style: none;
        padding-left: 0;
        padding-right: 10px;
        border-right: 1px solid grey;

        li {
          font-weight: bold;
          padding: 1px 0;
          margin-bottom: 20px;

          a{
            color: #353535;

            &:hover {
              color: #144d35;
              text-decoration: none;
            }
          }
        }
      }

      .button-links {
        list-style: none;
        padding-left: 0;

        li{
          background-color: #24654a;
          padding: 20px;
          font-weight: bold;
          margin-bottom: 5px;

          &:hover {
            background-color: #1E8363;
          }

          a{
            color: #ffffff;
            font-size: 16px;
            text-transform: uppercase;
          }
        }
      }
    }

    .main-content {

      h1 {
        font-size: 32px;
        font-weight: bold;
        color: #144d35;
        margin: 0 0 30px 0;
        line-height: 35px;
      }

      img {
        width:100%;
        margin:20px 0 20px 0;
      }
    }
  }
}