h1, h2, h3, h4, h5 {
  float: left; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.8rem; }

.content {
  padding-top: 200px; }
  .content .breadcrumbs {
    border-bottom: 2px solid #144d35;
    padding-bottom: 10px; }
  .content .content-container {
    margin: 30px 0 40px 0; }
    .content .content-container .sidebar-content .links {
      list-style: none;
      padding-left: 0;
      padding-right: 10px;
      border-right: 1px solid grey; }
      .content .content-container .sidebar-content .links li {
        font-weight: bold;
        padding: 1px 0;
        margin-bottom: 20px; }
        .content .content-container .sidebar-content .links li a {
          color: #353535; }
          .content .content-container .sidebar-content .links li a:hover {
            color: #144d35;
            text-decoration: none; }
    .content .content-container .sidebar-content .button-links {
      list-style: none;
      padding-left: 0; }
      .content .content-container .sidebar-content .button-links li {
        background-color: #24654a;
        padding: 20px;
        font-weight: bold;
        margin-bottom: 5px; }
        .content .content-container .sidebar-content .button-links li:hover {
          background-color: #1E8363; }
        .content .content-container .sidebar-content .button-links li a {
          color: #ffffff;
          font-size: 16px;
          text-transform: uppercase; }
    .content .content-container .main-content h1 {
      font-size: 32px;
      font-weight: bold;
      color: #144d35;
      margin: 0 0 30px 0;
      line-height: 35px; }
    .content .content-container .main-content img {
      width: 100%;
      margin: 20px 0 20px 0; }

/*# sourceMappingURL=main.css.map */
