.content .content-container .main-content img{
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
}

.content .content-container .main-content h1{
    font-size: 32px;
    font-weight: bold;
    color: #144d35;
    margin: 10px 0 20px 0;
    line-height: 40px;
    width: 100%;
}

.content .content-container .main-content p{
    margin-top: 20px;
    margin-bottom: 20px;
}

.content .content-container .main-content .akapit p{
    text-indent:40px;
}

.content .content-container .main-content .wegiel{
    width: 280px;
    right: 280px;
}
.content .content-container .main-content a{
    color: #144d35;
    font-weight: bold;

}

.content .content-container .main-content a:hover {
    color: #144d35;
}

.content .content-container .main-content .kgw{
    color: rgb(0, 102, 0);
    font-size: 15px;
    letter-spacing: 1px;
}